<div class="text-center">
  <h1 class="my-5">TweetClone</h1>
<div class="py-3">
  <form>
    <div class="form-group">
      <label>User name</label>
      <input type="name" class="form-control" placeholder="Enter name">
    </div>
    <div class="form-group">
      <label>Password</label>
      <input type="password" class="form-control" placeholder="Password">
    </div>
    <a href="#" class="btn btn-primary my-3">login</a>
  </form>
</div>

  <p>アカウントを持っていない方は<%= link_to "こちら", new_user_path %></p>

</div>
